

body {
  font-family: Arial, Helvetica, sans-serif;
}


table.main-layout {
	width: 100%;
	
}
/*
table.main-layout th,  table.main-layout td {
	border: 1px solid;
}*/
table.main-layout th, table.main-layout td {
	text-align: right;
	padding: 2px;
	width: 50%
}

/* info page */
table.info {
	border: 1px solid;
}

table.info th, table.info td {
	text-align: left;
	border: 1px solid;
	padding: 2px;
}

.toggle {
	float: right;
	padding: 4px;
}

#slider_error {
	color: red;
	font-weight: bold;
	text-align: center;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #a5dc86;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #a5dc86;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}


/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  float: right;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #a5dc86;
}

input:focus + .slider {
  box-shadow: 0 0 1px #a5dc86;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Radio buttons */


.switch-field {
	display: flex;
	margin: 10px 10px 10px 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 18px;
	line-height: 1;
	text-align: center;
	padding: 16px 32px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

/* end radio buttons */



/* submit buttons 

.reset-button {
	float: left;
}*/

.submit-button {
	float: right;
}

.reset-button, .submit-button {
	border-radius: 4px;
	margin-bottom: 36px;
/*	overflow: hidden;

	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden; */

	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 18px;
	line-height: 1;
	text-align: center;
	padding: 16px 32px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.reset-button:active, .submit-button:active {
	background-color: #a5dc86;
	box-shadow: none;
}



/* Bubble slider bar */

.range-wrap {
  position: relative;
  margin: 0 auto 3rem;
}
.range {
  width: 100%;
}
.bubble {
  background: #a5dc86;
  color: white;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
}
.bubble::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: #a5dc86;
  top: -1px;
  left: 50%;
}


/* end bubble slider bar  */

